body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 206, 206);
    margin: 10px 100px 0px 100px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(131, 145, 225);
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 15px;
}

p.paragrafo-centralizado {
    text-align: center;
    margin: 5px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(140, 181, 190);
    text-align: left;
    font-size: 2em;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid blue;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(140, 181, 190);
    text-align: left;
    font-size: 2em;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid blue;
}   

.size {
    font-size: 1.2em;
}

.lista {
    padding: 0px 0px 0px 20px;
}