body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 206, 206);
    margin: 10px 100px 0px 100px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(131, 145, 225);
    text-align: center;
    font-size: 2.5em;
}

p.paragrafo-centralizado {
    text-align: center;
    margin: 5px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(140, 181, 190);
    text-align: left;
    font-size: 2em;
    padding: 5px;
}